.the-pokedex-container {
    width: 60%;
    max-width: 60rem;
    margin: auto;
    background-color: rgb(204, 37, 37);
    border-radius: 10px;
    padding:60px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    @media screen and (max-width: 600px) {
        width: 90%;
        flex-direction: column;
    }
}
