.pokemon-list-container {
    padding: 10px 0;
    max-height: 25rem;
    overflow-y: scroll;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
    &::-webkit-scrollbar{
        display: none;
    }
}